/*.card{
    background-color: white;
      box-shadow: 0.2em 0.2em ;
    padding: 1em 2em;
    border-top: 1px solid LightGray;
    border-bottom: 1px solid LightGray;
}*/

p {
    font-family: "Verdana", Sans-serif;
}

p.normal {
    font-weight: normal;
}

p.light {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    opacity: 0.5;
}

p.thick {
    font-weight: bold;
}

#twitter {
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#twitter td, #twitter th {
  border: 1px solid #ddd;
  padding: 8px;
}

#twitter tr:nth-child(even){background-color: #f2f2f2;}

#twitter tr:hover {background-color: #ddd;}

#twitter th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: DodgerBlue;
  color: white;
}

/*TO IMPLEMENT SCROLLABLE TABLE AND REMAIN THE POSITION OF HEADER TABLE*/
table.tableSection {
    display: table;
    width: 100%;
}
table.tableSection thead, table.tableSection tbody {
    float: left;
    width: 100%;
}
table.tableSection tbody {
    overflow: auto;
    height: 400px;
}
table.tableSection tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.tableSection th, table.tableSection td {
    width: 33%;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background:#ebeef0;
}
.graph .axis {
    stroke-width: 1;
}
.graph .axis .tick line {
    stroke: black;
}
.graph .axis .tick text {
    fill: black;
    font-size: 0.7em;
}
.graph .axis .domain {
    fill: none;
    stroke: black;
}
.graph .group {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
}  
#chart {
      max-width: 600px;
      max-height: 400px;
}
.img-sm {
    width: 46px;
    height: 46px;
}

.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}

.panel .panel-footer, .panel>:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel .panel-heading, .panel>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-body {
    padding: 25px 20px;
}


.media-block .media-left {
    display: block;
    float: left
}

.media-block .media-right {
    float: right
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto
}

.middle .media-left,
.middle .media-right,
.middle .media-body {
    vertical-align: middle
}

.thumbnail {
    border-radius: 0;
    border-color: #e9e9e9
}

.tag.tag-sm, .btn-group-sm>.tag {
    padding: 5px 10px;
}

.tag:not(.label) {
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 2px;
    border: 1px solid #cdd6e1;
    font-size: 12px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .15s;
    transition: all .15s;
}
.text-muted, a.text-muted:hover, a.text-muted:focus {
    color: #acacac;
}
.text-sm {
    font-size: 0.9em;
}
.text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs {
    line-height: 1.25;
}

.btn-trans {
    background-color: transparent;
    border-color: transparent;
    color: #929292;
}

.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
}

.btn-sm, .btn-group-sm>.btn, .btn-icon.btn-sm {
    padding: 5px 10px !important;
}

.mar-top {
    margin-top: 15px;
}


.controls-item {
    display: inline-block;
}

.btn {
    margin: 1px;
}
.top-buffer { margin-top:80px; }
.navbar-left .form-group .form-control{
      width: 200px;

}
.isDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.isDisabled > a {
  color: currentColor;
  pointer-events: none;
  text-decoration: none;
}
/*END HERE*/